**/outputs/*
*.pyc
*__pycache__/
*.egg-info/
*.egg
*.log
*.swp
*.swo
*.swn
*.vscode/
*.pyc
*.bashrc
*-checkpoint.ipynb
workspace/.profile
workspace/.cache
workspace/.config
workspace/.ipython
workspace/.ipython
workspace/.jupyter
workspace/.jupyter
workspace/.local
workspace/.local
